<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand">
    <img class="nav-img" src="assets/img/logo.png" />
  </a>
  <div *ngIf="isAuthorized" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/home"]'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/assigments"]'>Assigments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/all_profiles"]'>See All Profile</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" [routerLink]='["/new_module_content"]'>Add New Module Content</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" [routerLink]='["/add_video"]'>Add Tutorial Video</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" [routerLink]='["/new_assigment"]'>Add New Assigment</a>
      </li>
    </ul>
  </div>
  <div>
    <div *ngIf="!isAuthorized">
      <div class="cstm-nav-item">
        <a [routerLink]='["/registration"]'>Registration</a>
        <a [routerLink]='["/login"]'>Login</a>
      </div>
    </div>
    <div *ngIf="isAuthorized">
      <div class="cstm-nav-item">
        <a [routerLink]='["/my_profile"]'>
          <img class="nav-img" src="assets/img/avatar.png" />
        </a>
      </div>
      <div class="cstm-nav-item">
        <label>[{{ userRole }}]</label>
      </div>
      <div class="cstm-nav-item">
        <label><strong>{{ userName }}</strong></label>
      </div>
      <div class="cstm-nav-item">
        <img (click)="onLogout()" class="nav-img" src="assets/img/logout.png" />
      </div>
    </div>
  </div>
</nav>




