<div class="my-profile">
  <div class="myp-container">
    <div class="cell">
      <h3>My Profile</h3>
    </div>
    <div class="cell-4">
      <div>
        <img width="250px" height="250px" src="assets/img/avatar.png" alt="" class="img-circle img-responsive">
      </div>
    </div>
    <div class="cell-1">
      <div *ngIf="!isEditActive">
        <p><strong>Username:    </strong>{{ userName }}</p>
        <p><strong>Phone number:   </strong>{{ phoneNumber }}</p>
        <p><strong>Email:   </strong>{{ email }}</p>
        <p><strong>Role:    </strong>{{ role }}</p>
        <input style="width: 120px;" type="button" class="btn btn-primary" value="Edit" (click)="onEditClick()" />
      </div>
    </div>
    <div class="cell-1">
      <div *ngIf="isEditActive">
        <p><strong>Username: </strong></p>
        <input class="form-control" type="text" [(ngModel)]="newUserName" />
        <p><strong>Phone number: </strong></p>
        <input class="form-control" type="text" [(ngModel)]="newPhoneNumber" />
        <p><strong>Email:</strong></p>
        <input class="form-control" type="text" [(ngModel)]="newEmail" />
        <hr />
        <p><strong>Role:</strong> {{ role }}</p>
        <hr />
        <div style="text-align: center;">
          <input style="width: 120px;" type="button" class="btn btn-danger" value="Cancel" (click)="onCancel()" />
          <input style="width: 120px;" type="button" class="btn btn-success" value="Save" (click)="onSaveClick()" />
        </div>
      </div>
    </div>
    <div class="cell-2">
      <div class="card-align-errors">
        <div class="alert alert-danger" *ngFor="let error of errors">{{ error }}</div>
      </div>
    </div>
  </div>
</div>


