<div *ngIf="user" class="m-2 w-100">
  <div class="row m-2">
    <p class="h3 ml-4">My Profile</p>
  </div>
  <div class="row w-100 m-2">
    <div *ngIf="!isEditActive" class="col w-100">
      <div class="cmt-opacity rounded p-3 mx-auto float-right w-75">
        <mdb-icon (click)="onEditClick()" class="float-right" fas icon="edit" size="2x"></mdb-icon>
        <p><strong>Username: </strong>{{ user.userName }}</p>
        <p><strong>Phone number: </strong>{{ user.phoneNumber }}</p>
        <p><strong>Email: </strong>{{ user.email }}</p>
        <hr />
        <p><strong>Role: </strong>{{ user.role }}</p>
      </div>
    </div>
    <div class="col w-100" *ngIf="isEditActive">
      <div class=" cmt-opacity rounded p-3 mx-auto w-75 float-right">
        <p><strong>Username: </strong></p>
        <input class="form-control" type="text" [(ngModel)]="updatedUser.UserName" />
        <p><strong>Phone number: </strong></p>
        <input class="form-control" type="text" [(ngModel)]="updatedUser.PhoneNumber" />
        <p><strong>Email:</strong></p>
        <input class="form-control" type="text" [(ngModel)]="updatedUser.Email" />
        <hr />
        <p><strong>Role:</strong> {{ user.role }}</p>
        <hr />
        <div style="text-align: center;">
          <input style="width: 120px;" type="button" class="btn btn-danger m-2" value="Cancel" (click)="onCancel()" />
          <input style="width: 120px;" type="button" class="btn btn-success m-2" value="Save" (click)="onSaveClick()" />
        </div>
      </div>
    </div>
    <div class="col w-25">
      <div class="card-align-errors float-left">
        <div class="alert alert-danger" *ngFor="let error of errors">{{ error }}</div>
      </div>
    </div>
  </div>
</div>



