<div *ngIf="isUserLoggedIn">
  <div *ngIf="!showVideo" class="module-content">
    <input type="button" class="btn btn-danger Xbtn" value="X" (click)="onCancel()" />
    <div>
      <input type="button" [disabled]="!hasNext" class="btn btn-primary custombtn" style="float: right;" value="Next" (click)="NextContent()" />
      <input type="button" [disabled]="!hasPrevious" class="btn btn-primary custombtn" style="float: right" value="Back" (click)="PreviousContent()" />
    </div>
    <h2>{{ moduleContents[partNumber].title }}</h2>
    <h5>{{ moduleContents[partNumber].description }}</h5><br />
    <div>
      <p>{{ moduleContents[partNumber].lesson }}</p>
      <div *ngIf="moduleContents[partNumber].assigmentUrl">
        <label>Checkout your assigment on this link:</label><a href="{{moduleContents[partNumber].assigmentUrl}}">
          <strong>{{ moduleContents[partNumber].assigmentUrl }}</strong>
        </a><br />
      </div>
    </div>
  </div>
  <app-video [contentId]="moduleContents[partNumber].id" (playingVideo)="onVideoPlay()" (videoClosed)="onVideoClosed()"></app-video>
</div>

