/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body {
}

#list-group {
  padding: 50px 340px 50px 50px;
}

.navButton {
  color: white;
}

#container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background-color: rgba(62, 62, 62, 0.85);
}

.body-content {
  margin: 5% 0% 5% 0%;
}

#name {
  color: white;
}

.nav-container {
  float: right;
  margin-left: auto;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-component {
  width: 100%
}

.other-students-component {
  width: 100%;
}

.students-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 18rem);
  grid-template-rows: repeat(2, 12rem);
  justify-content: center;
  align-items: center;
}

.module {
  text-align: center;
}

.my-profile-component {
  width: 100%;
}

.my-profile {
  width: 100%;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}

.row {
  display: table;
  width: 100%; /*Optional*/
  border-spacing: 10px; /*Optional*/
  margin-right: 0;
  margin-left: 0;
}

.column {
  display: table-cell;
}

.placeholder {
  margin: 3% 5% 3% 5%;
}

.custombtn {
  width: 120px;
  margin: 0% 1% 0% 1%;
  margin-left: auto;
}

.Xbtn {
  margin: 0% 1% 0% 1%;
  width: 50px;
  margin-left: auto;
  float: right;
}

div {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
