<div *ngIf="isAdminLoggedIn">
  <div class="asgm-container">
    <div class="cell">
      <h2>New Assigment</h2>
    </div>
    <div>
      <div class="cell-1 cmt-opacity rounded">
        <div class="card-body">
          <label><strong>Title:</strong></label><input class="form-control" [(ngModel)]="newAssigment.Title" placeholder="Title" /><br />
          <label><strong>Description:</strong></label><input class="form-control" [(ngModel)]="newAssigment.Description" placeholder="Description" /><br />
          <label><strong>Url:</strong></label><input class="form-control" [(ngModel)]="newAssigment.Url" placeholder="Url" /><br />
          <label><strong>Module:</strong></label><br />
          <select [(ngModel)]="selectedModuleId" class="browser-default custom-select">
            <option *ngFor="let module of modules" value="{{ module.id }}">{{module.title}}</option>
          </select><br />
          <div>
            <button [disabled]="!selectedModuleId" type="button" class="btn btn-primary mx-auto m-2" (click)="onSubmit()">Submit</button>
            <a [routerLink]='["/assigments"]'><button class="btn btn-danger mx-auto m-2 float-right" id="cancel-btn">Cancel</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell-2">
      <div class="card-body card-align-errors">
        <div *ngFor="let error of errors" class="alert alert-danger">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isAdminLoggedIn">
  <h3>Login or registrate for further details.</h3>
</div>

