<div>
  <div *ngIf="isUserLoggedIn">
    <a *ngIf="isAdmin" [routerLink]='["/new_assigment"]'><button class="btn btn-success">Add New Assigment</button></a>
    <h3>Programing Basics:</h3>
    <hr />
    <div>
      <div class="row">
        <div class="card assigment"  *ngFor="let assigment of prgBasicAssigments">
          <input type="button" class="btn btn-danger Xbtn" value="X" *ngIf="isAdmin" (click)="onDelete(assigment.id)" />
          <div class="break-lines card-body">
            <h5 class="card-title">{{ assigment.title }}</h5>
            <p class="card-text">{{ assigment.description }}</p>
            <a href="{{ assigment.url }}" target="_blank">Solve This Assigment</a>
          </div>
        </div>
      </div>
    </div>
    <h3>Web technologies:</h3>
    <hr />
    <div>
      <div class="row">
        <div class="card assigment"  *ngFor="let assigment of webAssigments">
          <input type="button" class="btn btn-danger Xbtn" value="X" *ngIf="isAdmin" (click)="onDelete(assigment.id)" />
          <div class="break-lines card-body">
            <h5 class="card-title">{{ assigment.title }}</h5>
            <p class="card-text">{{ assigment.description }}</p>
            <a href="{{ assigment.url }}" target="_blank">Solve This Assigment</a>
          </div>
        </div>
      </div>
    </div>
    <h3>OOP:</h3>
    <hr />
    <div>
      <div class="row">
        <div class="card assigment"  *ngFor="let assigment of oopAssigments">
          <input type="button" class="btn btn-danger Xbtn" value="X" *ngIf="isAdmin" (click)="onDelete(assigment.id)" />
          <div class="break-lines card-body">
            <h5 class="card-title">{{ assigment.title }}</h5>
            <p class="card-text">{{ assigment.description }}</p>
            <a href="{{ assigment.url }}" target="_blank">Solve This Assigment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isUserLoggedIn">
    <h3>Login or registrate for further details.</h3>
  </div>
</div>

