<div class="m-2 w-100">
  <div *ngIf="isUserLoggedIn">
    <div *ngFor="let module of assigmentsByModule | keyvalue">
      <h3>{{ module.key }}:</h3>
      <hr />
      <div>
        <div class="row">
          <div class="card cmt-opacity mx-auto assigment m-1" *ngFor="let assigment of module.value">
            <mdb-icon *ngIf="isAdmin" (click)="onDelete(assigment.id)" class="float-right mt-2 ml-2 mr-2" fas icon="trash-alt"></mdb-icon>
            <div class="card-body">
              <h5 class="card-title">{{ (assigment.title.length>30)? (assigment.title | slice:0:30)+'...':(assigment.title) }}</h5>
              <p class="card-text">{{ (assigment.description.length>80)? (assigment.description | slice:0:80)+'...':(assigment.description) }}</p>
              <a href="{{ assigment.url }}" target="_blank">Solve This Assignment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

