.other-profile {
  flex-direction: column;
  width: 100%;
  display: -webkit-box;
  display: flex;
  float: left;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.data {
  background: rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
}
