<div class="card align-items-center">
  <h2>Register</h2>
  <div class="card-body m">
    <label><strong>Username:</strong></label><input class="form-control" [(ngModel)]="username" placeholder="Username" /><br />
    <label><strong>Email:</strong></label><input class="form-control" type="email" [(ngModel)]="email" placeholder="example@gmail.com" /><br />
    <label><strong>Phone number:</strong></label><input class="form-control" type="text" [(ngModel)]="phoneNumber" placeholder="Phone number" /><br />
    <label><strong>Password:</strong></label><input class="form-control" type="password" [(ngModel)]="password" placeholder="Password" /><br />
    <label><strong>Password again:</strong></label><input class="form-control" type="password" [(ngModel)]="passwordAgain" placeholder="Password Again" /><br />
    <div *ngFor="let error of errors" class="alert alert-danger">
      {{ error }}
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </div>
</div>
