.nmc-container {
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 5fr 5fr 5fr;
}

.cell {
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
}

.cell-2 {
  text-align: center;
  grid-row: 2;
  grid-column: 3;
}

.cell-1 {
  grid-row: 2;
  grid-column: 2/3;
}

.cell-3 {
  width: 500px;
  grid-row: 2;
}

.textbox {
  width: 500px;
  height: 390px;
  resize: none;
}


.card-align-errors {
  margin: 0 25% 0 0;
}

input {
  width: 280px;
}
