<div *ngIf="isAdminLoggedIn">
  <div class="nmc-container">
    <div class="cell">
      <h2>New Module Content</h2>
    </div>
    <div>
      <div class="cell-1">
        <div class="card-body">
          <label><strong>Title:</strong></label><input class="form-control" [(ngModel)]="newModuleContent.Title" placeholder="Title" /><br />
          <label><strong>Description:</strong></label><input class="form-control" [(ngModel)]="newModuleContent.Description" placeholder="Description" /><br />
          <label><strong>Assigment Url:</strong></label><input class="form-control" [(ngModel)]="newModuleContent.AssigmentUrl" placeholder="Assigment Url (optional)" /><br />
          <label><strong>Module:</strong></label><br />
          <select [(ngModel)]="selectedModuleId" class="browser-default custom-select">
            <option *ngFor="let module of modules" value="{{ module.id }}">{{module.title}}</option>
          </select><br />
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
          <a [routerLink]='["/home"]'><button class="btn btn-danger" id="cancel-btn">Cancel</button></a>
        </div>
      </div>
    </div>
    <div class="cell-2">
      <div class="card-body card-align-errors">
        <div *ngFor="let error of errors" class="alert alert-danger">
          {{ error }}
        </div>
      </div>
    </div>
    <div class="cell-3">
      <label><strong>Lesson:</strong></label>
      <textarea class="form-control textbox" [(ngModel)]="newModuleContent.Lesson" placeholder="Lesson"></textarea>
    </div>
  </div>
</div>
<div *ngIf="!isAdminLoggedIn">
  <h3>Login or registrate for further details.</h3>
</div>
