<div *ngIf="moduleContents.length > 0" class="module-content">
  <div>
    <div *ngFor="let moduleContent of moduleContents; let i = index">
      <p>{{ moduleContents[i].title }}</p>
      <input class="contentId" [(ngModel)]="moduleContents[i].contentId" />
    </div>
    <div>
      <input style="width: 120px;" type="button" class="btn btn-danger" value="Cancel" (click)="onCancel()" />
      <input style="width: 120px;" type="button" class="btn btn-success" value="Save" (click)="onSave()" />
    </div>
  </div>
</div>
<div style="text-align:center;" *ngIf="!moduleContents.length > 0">
  <h2>There is no content for this module :(</h2>
</div>
