.vid-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 8fr 5fr;
  grid-template-rows: 1fr 4fr;
}

.cell {
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
}

.cell-2 {
  text-align: center;
}

.cell-1 {
  float: right;
  grid-row: 2/4;
  grid-column: 1/3;
}


.card-align-errors {
  margin: 0 25% 0 0;
}

input {
  width: 280px;
}
