.video-row {
  display: inline-flex;
  width: 100%; /*Optional*/
  border-spacing: 10px; /*Optional*/
  margin-right: 0;
  margin-left: 0;
  border-radius: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.video-img {
  width: 150px;
  height: 100px;
}

.video {
  border-spacing: 10px;
  padding: 10px;
  width: 15rem;
  margin: 5px;
  border-radius: 5px;
}

.video-player {
  width: 100%;
  height: 500px;
  margin: auto;
}
